<%- include('layout', { title: '&quot;Eu pisei e ela explodiu&quot;', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 2</span></font></p>
<p>&nbsp;</p>
<p align="center">
<img border="0" src="animal_marinho.jpg" width="300" height="320"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">Roberto.</font></p>

` }) %>