<%- include('layout', { title: 'Nova pagina 1', body: `

<p>&nbsp;</p>
<p><font face="Arial Black" color="#00FF00"><b>para fase 17</b></font></p>
<p>Está pertíssimo, mas ainda falta uma &quot;transformação&quot;...</p>

` }) %>
