<%- include('layout', { title: 'Nova pagina 1', body: `

<p>&nbsp;</p>
<p><font face="Arial Black" color="#00FF00"><b>para fase 26</b></font></p>
<p>Hmmm, não está longe, não... Ele tem um amigo, não?</p>

` }) %>
