<%- include('layout', { title: 'Paul Landowski e Carlos Oswald', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 3</span></font></p>
<p>&nbsp;</p>
<p align="center">
<img border="0" src="rio.jpg" width="514" height="355"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">Em cada esquina eu vejo um olhar 
perdido.</font></p>

` }) %>