<%- include('layout', { title: 'Destruir para transformar', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 68</span></font></p>
<p>&nbsp;</p>
<p align="center">
<img border="0" src="brahma.jpg" width="300" height="300"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">E mais quem?</font></p>

` }) %>
