<%- include('layout', { title: 'Enterrado em Montparnasse', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 55</span></font></p>
<p align="center">&nbsp;</p>
<p align="center">
<img border="0" src="pierre.jpg" width="267" height="466"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">Nome do meio.</font></p>

` }) %>
