<%- include('layout', { title: 'E assim, na ABERTURA do sexto e último duelo...', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 18</span></font></p>
<p>&nbsp;</p>
<p align="center">
<img border="0" src="segundo_match.jpg" width="251" height="311"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">Nas profundezas do mar, em 1997, o homem 
sucumbe à máquina</font></p>

<p align="center">&nbsp;</p>

` }) %>
