<%- include('layout', { title: 'Parabéns', body: `
<br/>
<br/>
<span class="fase-titulo">para fase 86</span>
<p>
    Escute: está realmente vindo da fase 86 ou simplesmente chutou um número qualquer numa fase qualquer?
    Bem, se está vindo da fase 86, a dica é quente. Parabéns! Mas se, chutou um número qualquer, boa sorte por
    aí...
    rsssrs.
</p>

<br/>
<br/>

<span class="fase-titulo">para fase 33</span>
<p>Posso ser sincero? Essa tentativa não foi das mais inspiradas... rsss. Tente novamente.</p>


` }) %>