<%- include('layout', { title: 'A sagrada fome', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 29</span></font></p>
<p align="center">&nbsp;</p>
<p align="center">
<img border="0" src="pequenos_leoes.jpg" width="414" height="315"></p>

<p align="center">&nbsp;</p>

<div align="center">
  <center>

<table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse" id="AutoNumber1" bordercolor="#000000" height="50">
  <tr>
    <td bgcolor="#000000" bordercolor="#000000" height="12">16</td>
    <td bgcolor="#000000" bordercolor="#000000" height="12">
    <font color="#FFFFFF">03</font></td>
    <td bgcolor="#000000" bordercolor="#000000" height="12">02</td>
    <td bgcolor="#000000" bordercolor="#000000" height="12">13 </td>
  </tr>
  <tr>
    <td bgcolor="#000000" bordercolor="#000000" height="11">05</td>
    <td bgcolor="#000000" bordercolor="#000000" height="11">10</td>
    <td bgcolor="#000000" bordercolor="#000000" height="11">11</td>
    <td bgcolor="#000000" bordercolor="#000000" height="11">08</td>
  </tr>
  <tr>
    <td bgcolor="#000000" bordercolor="#000000" height="12">09</td>
    <td bgcolor="#000000" bordercolor="#000000" height="12">06</td>
    <td bgcolor="#000000" bordercolor="#000000" height="12">07</td>
    <td bgcolor="#000000" bordercolor="#000000" height="12">12</td>
  </tr>
  </table>

  </center>
</div>

<p>&nbsp;</p>

` }) %>
