<%- include('layout', { title: 'Movimentos necessários: número mínimo', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 28</span></font></p>
<p align="center">&nbsp;</p>
<p align="center"><img border="0" src="imagem1.png" width="182" height="300"></p>

<p align="right">JPG</p>

<p align="center"><font color="#FFFFFF">Fique de olho na imagem 1</font></p>

` }) %>
