<%- include('layout', { title: 'Rumo ao centro da terra', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 31</span></font></p>
<p align="center">
&nbsp;</p>

<p align="center">
<img border="0" src="descontrole.jpg" width="250" height="256"></p>

<p align="center">
&nbsp;</p>

<p align="center"><font color="#FFFFFF">O poeta é o único guia do poeta.</font></p>

<p align="center">chuva e latidos</p>

` }) %>
