<%- include('layout', { title: 'Última de Pernambuco', body: `
<!-- Fase 75 (setenta e cinco) -->
<h1 class="fase-titulo center">Fase 75</h1>
<div class="center">
    <img alt="1991" height="302" src="/images/fases/1991.jpg" title="1991" width="239">
</div>
<p class="frase-fase center">
    CHOROU com o pupilo.
</p>

` }) %>