<%- include('layout', { title: 'Alberti', body: `

<br/>
<br/>

<p>Alberti.</p>
<p>Nome completo:</p>
<span class="fase-titulo">L-E-O-N-A-L-B-E-R-T-I</span>
<p>Multitalentoso, lançou seu próprio disco.</p>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<a href="desloc3.html" style="text-decoration: none; float: right; color: #fff;" target="_blank">
    deslocamento inicial?
</a>


` }) %>