<%- include('layout', { title: 'Um é azul, o outro vermelho', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 65</span></font></p>
<p align="center">
<img border="0" src="iniciais.jpg" width="262" height="424"></p>

<p align="center"><font color="#FFFFFF">3&nbsp;&nbsp; 6&nbsp;&nbsp; 8&nbsp;&nbsp; 
4&nbsp;&nbsp; 9</font></p>

<p align="center">contornos proporcionais</p>

<p align="center">&nbsp;</p>

` }) %>
