<%- include('layout', { title: 'Morto por B. D.', body: `
<!-- Fase 84 (oitenta e quatro) -->
<h1 class="fase-titulo center">Fase 84</h1>
<div class="center">
    <img alt="caro_manuel" height="233" src="/images/fases/caro_manuel.jpg" title="caro_manuel" width="350">
</div>
<p class="frase-fase center">
    A da esquerda.
</p>


` }) %>