<%- include('layout', { title: 'baudelaire', body: `
<div class="square">
    <p>CENSURADO</p>
</div>
<style>
    div.square {
        margin: 5em auto auto;
        background-color: #000;
        width: 8em;
        height: 2.5em;
    }

    div.square p {
        text-align: center;
        padding: 0.7em
    }
</style>

` }) %>