<%- include('layout', { title: 'para fase 72', body: `
<br/>
<br/>
<span class="fase-titulo">para fase 72</span>
<p>
    Olha, o bicho é esse mesmo, mas a resposta não tem nada a ver com isso, não.
    Não encontrou, por acaso, nenhuma dica secreta por aí? Então: melhor pensar mais um pouco...
</p>


` }) %>