<%- include('layout', { title: 'Pedra', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 12</span></font></p>
<p>&nbsp;</p>
<p align="center">
<img border="0" src="rosa.jpg" width="440" height="371"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">Em Al-Buhaira, na terra dos faraós</font></p>

` }) %>
