<%- include('layout', { title: 'Trocadilho fuleiro', body: `
    <!-- Fase 1 (um) -->
<h1 class="fase-titulo center">Fase 1</h1>
<div class="center">
    <img alt="aviao" src="/images/fases/aviao.jpg" title="aviao" >
</div>
<p class="frase-fase center">
    Santos Dumont.
</p>

` }) %>