<%- include('layout', { title: 'Destruir para transformar', body: `
<!-- Fase 68 (sessenta e oito) -->
<h1 class="fase-titulo center">Fase 68</h1>
<div class="center">
    <img alt="brahma" height="300" src="/images/fases/brahma.jpg" title="brahma" width="300">
</div>
<p class="frase-fase center">
    E mais quem?
</p>

` }) %>