<%- include('layout', { title: 'para fase 16', body: `
<br/>
<br/>
<span class="fase-titulo">para fase 16</span>
<p>Cores que mudaram o mundo moderno. Deve haver uma dica secreta por aí...</p>


` }) %>