<%- include('layout', { title: 'Perigo: vulcão', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 70</span></font></p>
<p>&nbsp;</p>
<p align="center">
<img border="0" src="nao_respire.jpg" width="366" height="308"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">Você sabia que agir contra a 
constituição é algo ultrapassado?</font></p>

` }) %>
