<%- include('layout', { title: 'Nova pagina 1', body: `
<p>Está queeeente! Uau... Mas veja o ano, o "match", a partida... (e sobretudo as LETRAS MAIÚSCULAS)</p>
<p>E a propósito: nesta partida o seu adversário cometeu um erro grave.</p>


` }) %>