<%- include('layout', { title: '3', body: `
<p>3</p>
<style>
    p {
        line-height: 8em;
        text-align: center;
        font-family: Arial Black, serif;
        font-weight: bold;
        font-size: 3em;
    }
</style>

` }) %>