<%- include('layout', { title: 'Montado no Bucéfalo', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 22</span></font></p>
<p align="center">
<img border="0" src="otico.jpg" width="632" height="396"></p>

<p align="center"><font color="#FFFFFF">Onde ele está no momento (2008)?</font></p>

` }) %>