<%- include('layout', { title: 'Complete a poesia', body: `
<!-- Fase zero  -->
<h1 class="fase-titulo center">Fase Zero</h1>
<div class="center">
    <img alt="eletrocardiograma" src="/images/fases/eletrocardiograma.jpg" title="eletrocardiograma">
</div>
<p class="frase-fase center">
    "Batatinha quando nasce, se esparrama pelo chão. Menininha quando dorme, põe a mão no..."
</p>
<div class="center area-senha">
    <label for="senha"></label><input autocapitalize="off" id="senha" onkeyup=" enviarSenha();" placeholder="Senha"
                                      type="text">
    <button id="senha-ir" onclick="passarDeFase();">Ir!</button>
</div>
<p class="center">
        <span>
            <i class="rz-cinza">R</i>
            <i class="rz-branco">Z</i>
            <i class="rz-cinza">1</i>
        </span>
</p>

` }) %>