<%- include('layout', { title: 'Complete a poesia', body: `
<!-- Fase zero  -->
<h1 class="fase-titulo center">Fase Zero</h1>
<div class="center">
    <img alt="eletrocardiograma" src="/images/fases/eletrocardiograma.jpg" title="eletrocardiograma">
</div>
<p class="frase-fase center">
    "Batatinha quando nasce, se espalha ramas pelo chão. Menininha quando dorme, põe a mão no..."
</p>

<p class="center">
        <span>
            <i class="rz-cinza">R</i>
            <i class="rz-branco">Z</i>
            <i class="rz-cinza">1</i>
        </span>
</p>

` }) %>