<%- include('layout', { title: 'Coordenadas da original', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 27</span></font></p>
<p>&nbsp;</p>
<p align="center"><img border="0" src="GE.jpg" width="232" height="319"></p>
<p align="center" dir="ltr">
&nbsp;</p>

<p class="MsoNormal" align="center"><font color="#FFFFFF">36 6 44.43 N 115 10 
20.81 W</font></p>
<p class="MsoNormal" align="right"><b><font face="Arial" size="2">4 primeiros digitos</font></b></p>

` }) %>
