<%- include('layout', { title: 'Flores do Mal', body: `
<p>quaaaase!</p>
<div class="square">
    <p>CENSURADO</p>
</div>
<br/><br/><br/><br/><br/><br/>
<p style="float: right; color: #FFF">q&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; u&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    a&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; t&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; s&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; e&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; m&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    a&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; s?</p>
<style>
    div.square {
        margin: 5em auto auto;
        background-color: #000;
        width: 8em;
        height: 2.5em;
    }

    div.square p {
        text-align: center;
        padding: 0.7em
    }
</style>

` }) %>