<%- include('layout', { title: 'Episcopado písceo?', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 82</span></font></p>
<p>&nbsp;</p>
<p align="center">
<img border="0" src="um_jantar_diferente.jpg" width="264" height="312"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">Que diriam disso grandes homens como 
Montaigne, Rousseau ou Goethe?</font></p>

` }) %>
