<div class="center area-senha">
    <label for="senha"></label><input autocapitalize="off" id="senha" onkeyup="enviarSenha();" placeholder="Senha" type="text">
    <button id="senha-ir" onclick="passarDeFase();">Ir!</button>
    <button id="voltar" onclick="voltar();">Voltar</button>
</div>