<%- include('layout', { title: 'Caramba! Só um computador para compreender isso!', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 17</span></font></p>
<p>&nbsp;</p>
<p align="center">
<img border="0" src="alfa_romeo.bmp" width="450" height="338"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">És a primeira!</font></p>

` }) %>
