<%- include('layout', { title: 'Artista do mundo', body: `
<p>Artista do mundo, rendeu homenagens à sua terra natal...</p>
<p style="line-height: 0;">acróstico...</p>
<p style="color: #fff;">faixas</p>


` }) %>