<%- include('layout', { title: 'Nova pagina 1', body: `
<p>Quase! Resta saber como se traduziram os hieróglifos. Pois, senão, para que valeriam as dicas "Pedra", "Rosa",
    "Al-Buhaira"?</p>


` }) %>