<%- include('layout', { title: 'para fase 09<', body: `
<br/>
<br/>
<span class="fase-titulo">para fase 09</span>
<p>Ah, não esconda o jogo: tem cara de que arranha um pouco de holandês...
    Então que tal traduzir a frase do enigma e descobrir um sujeito capaz de realizar um ato daqueles?
</p>


` }) %>