<%- include('layout', { title: 'Informe o estado das suas retinas', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 79</span></font></p>
<p>&nbsp;</p>
<p align="center">
<img border="0" src="lapis.jpg" width="400" height="266"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">Língua?</font></p>

` }) %>
