<%- include('layout', { title: '"Apêndices das células vivas" de Deus', body: `
<!-- Fase 5 (cinco) -->
<h1 class="fase-titulo center">Fase 5</h1>
<div class="center">
    <img alt="uno" src="/images/fases/uno.jpg" title="uno" width="497" height="330">
</div>
<p class="frase-fase center">
    Poderoso rei da Fiat.
</p>

` }) %>