<%- include('layout', { title: '"Apêndices das células vivas" de Deus', body: `
<!-- Fase 5 (cinco) -->
<h1 class="fase-titulo center">Fase 5</h1>
<div class="center">
    <img alt="uno" height="848" src="/images/fases/uno.jpg" title="uno" width="1388">
</div>
<p class="frase-fase center">
    Poderoso rei da Fiat.
</p>
<div class="center area-senha">
    <label for="senha"></label><input autocapitalize="off" id="senha" onkeyup=" enviarSenha();" placeholder="Senha"
                                      type="text">
    <button id="senha-ir" onclick="passarDeFase();">Ir!</button>
</div>



` }) %>