<%- include('layout', { title: 'Acabou</title>
</head>

<body bgcolor="#FF6600" link="#FFFF00" vlink="#FFFF00" alink="#FFFF00">

<p>&nbsp;</p>
<p align="center"><font color="#FFFFFF"><span style="font-weight: 700">FIM DO 
NÍVEL 2</span></font></p>
<p align="center">&nbsp;</p>
<p align="center"><b><font color="#FFFF00" face="Lucida Console" size="7">
PARABÊNS!</font></b></p>
<p align="center"><b><font face="Lucida Console" size="5" color="#FFFFFF">você 
conseguiu!!!</font></b></p>
<p align="center">&nbsp;</p>

<p align="justify" style="margin:0 200; ">
<font color="#FFFFFF">Fantástico! Absolutamente genial! A prova incontestável de 
que o impossível não existe! Agora a saga humana na terra está completa. Depois 
de chegar à lua, escalar o Everest, construir a Muralha da China e inventar o 
controle remoto, o homem pode enfim orgulhar-se de ter terminado o Nível 2 do 
RiddleZinho!!!</font></p>

<p align="justify" style="margin:0 200; ">
&nbsp;</p>

<p align="justify" style="margin:0 200; ">
<font color="#FFFFFF">Parabéns!!!!!!</font></p>

<p align="justify" style="margin:0 200; ">
&nbsp;</p>

<p align="justify" style="margin:0 200; ">
&nbsp;</p>

<p align="justify" style="margin:0 200; ">
&nbsp;</p>

<p align="justify" style="margin:0 200; ">
&nbsp;</p>

<p align="justify" style="margin:0 200; ">
&nbsp;</p>

<p align="justify" style="margin:0 200; ">
&nbsp;</p>

<p align="justify" style="margin:0 200; ">
<b><font color="#FFFF00">Epílogo</font></b><font color="#FFFFFF">: de qualquer 
forma, se você for mesmo persistente e não der valor à própria sanidade mental, então acesse o site de entrada do <b>
<a href="http://www.riddlezinho.net76.net/riddlezinho/nivel3">Nível 3</a></b> e complete a Senha 1 com a seguinte Senha 
2: </font><b><font size="5" color="#FFFF00">demedici</font></b>
<font color="#FFFFFF">(lembrando que a partir de agora tudo volta ao normal, com 
o diretório &quot;riddlezinho&quot; novamente no singular, ok?)</font></p>

<p align="justify" style="margin-left: 200; margin-right: 200">
<font color="#FFFFFF">Bom jogo por aí!!!</font></p>

` }) %>
