<%- include('layout', { title: 'Alguém falou em doença por aí?', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 8</span></font></p>
<p>&nbsp;</p>
<p align="center">
<img border="0" src="muitas_pilulas.jpg" width="400" height="360"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">Fora o alto Q.I, o que <span lang="NL">
Ludwig Van Beethoven, Charles Darwin, Immanuel Kant e Samuel Johnson</span> têm 
em comum?</font></p>

<p align="center">&nbsp;</p>

<p align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
Whiteley alcançou altos índices</font></p>

` }) %>