<%- include('layout', { title: 'Ele veio PIXAR o muro', body: `
<!-- Fase 4 (quatro) -->
<h1 class="fase-titulo center">Fase 4</h1>
<div class="center">
    <img alt="violeta_faz_parte" height="297" width="211"  src="/images/fases/violeta_faz_parte.jpg" title="violeta_faz_parte"
         width="688">
</div>
<p class="frase-fase center">
    Extraordinários, fantásticos, maravilhosos, estupendos, fabulosos!
</p>

` }) %>