<%- include('layout', { title: 'RiddleZinho - Jogar', body: `
<div class="center">
    <a aria-label="Voltar a página inicial" href="/" title="Voltar a página inicial">
        <img alt="RiddleZinho - um pequeno jogo tipo riddle" src="images/logonova2.jpg">
    </a>
</div>

<hr/>

<ul class="center nav flex-column menu-secundario">
    <li class="nav-item">
        <a class="nav-link" href="fasezero">Nível 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="nivel2">Nível 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="nivel3">Nível 3</a>
    </li>
</ul>


<a aria-label="Voltar a página inicial" class="voltar-link" href="/" title="Voltar a página inicial">voltar a
    página inicial</a>

` }) %>