<%- include('layout', { title: 'Capa', body: `

<p>&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 46</span></font></p>
<p align="center"><img border="0" src="pontos.jpg" width="400" height="400"></p>

<p align="center"><font color="#FFFFFF">Designer e DJ.</font></p>

` }) %>
