<%- include('layout', { title: 'O canhotinha de ouro', body: `
<br/>
<br/>
<span class="fase-titulo">para fase 86</span>
<p>Exato: o saudoso diamante negro. Será que ele fez algo especial em 1938?</p>


` }) %>