<%- include('layout', { title: 'Nova pagina 1', body: `
<p>Uau! Meus sinceros parabéns, meu caro detetive! Com essa mostrou toda
    sua destreza investigativa, heim! Mas me diga uma coisa: não encontrou
    nenhuma outra <a href="cliquemagico" style="text-decoration: none">pista</a>
    escondida por aí?</p>


` }) %>