<%- include('layout', { title: 'Lanternas', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 67</span></font></p>
<p>&nbsp;</p>
<p align="center">
<img border="0" src="fu.jpg" width="142" height="150">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img border="0" src="sao.jpg" width="119" height="179"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#00FF00">au</font><font color="#FFFFFF"> tomável</font></p>

` }) %>
