<%- include('layout', { title: 'Não deu em nada', body: `
<p>Hmmm, deixe-me adivinhar, ainda não terminou o Nível 2, não é mesmo? Mas então por que a pressa? Dê tempo ao
    tempo, jogue o
    jogo e seja feliz. Até já!</p>


` }) %>