<%- include('layout', { title: 'NÍVEL 2', body: `

<div class="center" style="margin-top: 3rem;">
    <img alt="" src="https://media.giphy.com/media/l0HlKrB02QY0f1mbm/giphy.gif">
</div>
<p class="frase-fase center">
    Calma! Essa fase ainda está em construção!
</p>


` }) %>