<!DOCTYPE html>
<html dir="ltr" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <link href="../styles/reset.css" rel="stylesheet">
    <link href="../styles/fases.css" rel="stylesheet">
    <title>NÍVEL 3', body: `

<div class="center" style="margin-top: 3rem;">
    <img alt="" src="https://media.giphy.com/media/l0HlKrB02QY0f1mbm/giphy.gif">
</div>
<p class="frase-fase center">
    Calma! Essa fase ainda está em construção!
</p>


` }) %>