<%- include('layout', { title: 'ovo', body: `
<!-- Fase 71 (setenta e um) -->
<h1 class="fase-titulo center">Fase 71</h1>
<div class="center">
    <img alt="asa" height="306" src="/images/fases/asa.jpg" title="asa" width="460">
</div>
<p class="frase-fase center">
    O que a ARARA é?
</p>
<p class="center">
    em 3 palavras
</p>
<div class="center area-senha">
    <label for="senha"></label><input autocapitalize="off" id="senha" onkeyup=" enviarSenha();" placeholder="Senha"
                                      type="text">
    <button id="senha-ir" onclick="passarDeFase();">Ir!</button>
</div>



` }) %>