<%- include('layout', { title: 'Para uma fome de leão', body: `
<br/>
<br/>
<br/>
<p style="color: #008080">PRATO 3: "PARA UMA FOME DE LEÃO"</p>

<p style="color: #F5F5F5;">a receita mais famosa</p>
<style>
    p {
        line-height: 2em;
        text-align: center;
    }
</style>

` }) %>