<%- include('layout', { title: 'Nova pagina 1', body: `
<p>É, tenho que admitir: Roberto Dinamite é um excelente palpite mesmo. Ele
    realmente tinha um chute, digamos, bem "explosivo"... rssrs. Mas infelizmente a
    resposta não é essa. Volte para o enigma e tente de novo...</p>


` }) %>