<%- include('layout', { title: 'Meu reino por uma resposta!', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 62</span></font></p>
<p align="center">&nbsp;</p>
<p align="center">
<img border="0" src="mantenha_a_classe.jpg" width="502" height="264"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">Que espécie de riddle é esse?</font></p>

` }) %>
