<%- include('layout', { title: 'Teste seus talentos', body: `

<p align="right">pista falsa</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 56</span></font></p>
<p align="left">pista falsa</p>
<p align="center">
<map name="FPMap0">
<area href="maisumapista" shape="circle" coords="74, 92, 9">
</map><img border="0" src="olho_vivo.jpg" usemap="#FPMap0" width="186" height="287"></p>

<p align="center">pista falsa</p>

<p align="center"><font color="#00FF00">D E T E T I V E&nbsp;&nbsp; D I G I T A 
L</font></p>

<p align="center" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>

<p align="center" style="margin-top: 0; margin-bottom: 0">
<font face="Verdana" size="2">pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa 
pista falsa pista falsa pista falsa pista falsa pista falsa pista falsa pista 
falsa pista falsa</font></p>

` }) %>
