<%- include('layout', { title: 'x + y =', body: `

<table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="100%" id="AutoNumber1" bordercolorlight="#232323" bordercolordark="#232323" height="522">
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center"><b><font color="#800080" face="Arial">8,8</font></b></td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#800080">
    <p align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="12%" bordercolor="#232323" height="19" align="center" colspan="3"><font color="#008000"><span style="font-weight: 700">
    FASE 94</span></font></td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">
    <p align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">
    &nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">
    <p align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">
    <p align="center">&nbsp;</td>
    <td width="12%" bordercolor="#232323" height="19" align="center" colspan="3">
    <font color="#808080" face="Arial" size="2">valores aproximados</font></td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">
    <p align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center"><b>
    <font face="Arial" color="#FFFF00">6,9</font></b></td>
    <td width="4%" bordercolor="#232323" height="19" align="center">
    <p align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#FFFF00">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">
    <p align="center"><b><font face="Arial" color="#FFFFFF">6,1</font></b></td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" bgcolor="#FFFFFF" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">
    <p align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">
    <p align="center"><b><font face="Arial" color="#808000">5,8</font></b></td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center"><b>
    <font face="Arial" color="#008000">5,6</font></b></td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" bgcolor="#808000" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">
    <p align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#008000">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center"><b>
    <font face="Arial" color="#FF00FF">5,0</font></b></td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#FF00FF">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center"><b>
    <font face="Arial" color="#808080">4,8</font></b></td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center"><b>
    <font face="Arial" color="#FFFFFF">4,2</font></b></td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#808080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#FFFFFF">
    <b><font face="Arial" color="#FFFFFF">X</font></b></td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="52%" bgcolor="#000080" bordercolor="#232323" height="19" align="center" colspan="13">
    <p align="center">&nbsp;</td>
    </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="22" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="22" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="22" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="22" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="22" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="22" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="22" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="22" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="22" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="22" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="22" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="22" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="22" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">
    <b><font face="Arial" color="#FFFFFF">-5,9</font></b></td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#FFFFFF" bordercolorlight="#000080" bordercolordark="#000080">
    <b><font face="Arial" color="#FFFFFF">Y</font></b></td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">
    <b><font face="Arial" color="#000080">-10,9</font></b></td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
  <tr>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#000080" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
    <td width="4%" bordercolor="#232323" height="19" align="center" bgcolor="#0000FF" bordercolorlight="#000080" bordercolordark="#000080">&nbsp;</td>
  </tr>
</table>

<p align="right" style="margin-top: 0; margin-bottom: 0"><font size="2">a 
resposta no  em nmero</font>s</p>

` }) %>
