<%- include('layout', { title: 'Movimento?', body: `

<p>&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 37</span></font></p>
<p>&nbsp;</p>
<p align="center">
&nbsp;&nbsp;&nbsp;<img border="0" src="cao_de_raca.jpg" width="335" height="300"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">Entre mortos e feridos.</font></p>

` }) %>
