<%- include('layout', { title: 'Nova pagina 1', body: `
<p>Uau! Está correto! Agora só falta entender porque o gráfico tem aquela exata configuração, né?
    Depois de compreender isso, aí é só pensar pelas iniciais
    GREGAS... Sacou?</p>


` }) %>