<%- include('layout', { title: 'Nova pagina 1', body: `
<p>Bem, não está longe, mas e a dica dos tais "mais de cem andares"? E o que é que "domina o horizonte da capital"?
    Faltaram algumas coisas, não? Então, mãos à obra!</p>


` }) %>