<%- include('layout', { title: 'Nova pagina 1', body: `
<p>Parabéns! acertou! Chegamos realmente alto, heim? Mas me diga uma coisa:
    sabia que esta marca do Taipei 101 já foi ultrapassada? É, sim, e em pleno
    deserto. Curioso, não? Então, que tal arranhar o céu novamente e testar uma nova
    palavra-chave?</p>


` }) %>