<%- include('layout', { title: 'Com três dígitos, sem vê', body: `

<p align="center">&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 85</span></font></p>
<p align="center">
<img border="0" src="em_dolares.jpg" width="288" height="422"></p>

<p align="center"><font color="#FFFFFF">Estréia.</font></p>

` }) %>
