<%- include('layout', { title: 'Senado na Paraíba', body: `

<p>&nbsp;</p>
<p align="center"><font color="#008000"><span style="font-weight: 700">FASE 38</span></font></p>
<p>&nbsp;</p>
<p align="center">
&nbsp;&nbsp;&nbsp;<img border="0" src="cara_chato.jpg" width="250" height="248"></p>

<p align="center">&nbsp;</p>

<p align="center"><font color="#FFFFFF">Passe em revista.</font></p>

` }) %>
