.fase-titulo {
    color: #00FF00;
    font-family: Arial Black, serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 5.5em;
}

p.frase-fase {
    color: whitesmoke;
    margin: 2rem;
}

i.rz-cinza {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #808080;
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
}

i.rz-branco {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
}

#senha {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.1rem;
    outline: none;
    border: 1px solid #B0CFE0;
    font-family: 'Courier New', Courier, monospace
}

#senha:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border: 1px solid #B0CFE0;
}

#senha-ir {
    -moz-box-shadow: inset 0 1px 0 0 #3985B1;
    -webkit-box-shadow: inset 0 1px 0 0 #3985B1;
    box-shadow: inset 0 1px 0 0 #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font-size: 0.75rem;
    font-family: 'Courier New', Courier, monospace;
}

#senha-ir:hover {
    background: #28739E linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
}

.area-senha {
    /*display: none;*/
}

@media only screen and (max-width: 768px) {
    .area-senha {
        display: flex;
    }
}