hr {
    border-color: #808080;
    width: 60%;
}

ul li a {
    color: #000146;
    font-weight: bold;
    text-shadow: 0 0 5px #ddd, 0 0 5px #ddd, 0 0 5px #0073e6, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 5px #0073e6, 0 0 10px #0073e6;
}

.voltar-link {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    font-size: small;
    text-decoration: underline;
}

ul.menu-principal {
    margin: 2.5rem 0 0 2rem;
}

ul.menu-principal li a {
    margin-right: 2rem;
}

ul.menu-secundario {
    align-items: center;
}

ul.menu-secundario li a {
    font-size: xxx-large;
    font-size: -webkit-xxx-large;
}

.flex {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
  }

span.pergunta {
    color: forestgreen;
}
span.resposta {
    text-align: justify;
    line-height: 2rem;
}

.modal-body > p > br {
    display:block;
    content:""; 
    margin-top:0.5rem; 
    line-height:190%; 
    /* vertical-align: top; */
}

i.texto-novo {
    color: teal;
}